@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/*font-family: "Young Serif", serif;
font-weight: 400;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*font-family: "Outfit", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;*/


:root{
    --cor_de_fundo: #F3E5D8;
    --cor1: hsl(332, 51%, 32%);
    --cor2: hsl(14, 45%, 36%);
    --cor3: hsl(330, 100%, 98%);
    --fonte1: "Young Serif", serif;
    --fonte2: "Outfit", sans-serif;
}

/* reset css */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor_de_fundo);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

h2{
    font-family: var(--fonte1);
    font-weight: normal;
    color: var(--cor2);
    
    margin: 20px 0px;
}

.content-box{
    background-color: white;
    padding: 40px;
    margin: 100px 20px;

    min-width: 320px;
    max-width: 650px;

    border-radius: 25px;
}

img{
    width: 100%;
    border-radius: 15px;
}

.pre-introduction{
    margin: 20px 0px;
}

.pre-introduction > h1{
    font-family: var(--fonte1);
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.pre-introduction > p{
    font-family: var(--fonte2);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: grey;

    padding: 20px 0px;
    text-align: justify;
}

.introduction{
    font-family: var(--fonte2);

    background-color: var(--cor3);
    padding: 20px;
    border-radius: 15px;
}

.preparation-time > h3{
    color: var(--cor1);
    
    padding: 10px;
}

.preparation-time li{
    margin-left: 33px;
    padding: 8px;
    color: rgb(94, 94, 94);
}

.preparation-time li::marker{
    color: var(--cor1);
    
}

.preparation-time strong{
    color: rgb(80, 80, 80);
}

.ingredients{
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d383;
}

.ingredients ul{
    list-style-position: inside;
}

.ingredients li{
    font-family: var(--fonte2);
    color: rgb(94, 94, 94);
    padding: 8px 0px;
    
    margin-left: 5px;
}

.ingredients li::marker{
    color: var(--cor2);
}

.instructions{
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d383;
}

.instructions ol{
    list-style-position: outside;
    
}

.instructions li{
    font-family: var(--fonte2);
    color: rgb(94, 94, 94);
    padding: 8px 10px;
    margin-left: 20px;
    
}

.instructions li::marker{
    color: var(--cor2);
    font-weight: bold;
    
    
}

.nutrition p{
    font-family: var(--fonte2);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: grey;
}

.nutrition-table1{
    display: flex;
    margin-top: 10px;
    padding: 15px 0px;

    border-bottom: 1px solid #d3d3d383;
}

.nutrition-table2{
    display: flex;
    padding: 15px 0px;

    border-bottom: 1px solid #d3d3d383;
}

.nutrition-table3{
    display: flex;
    padding: 15px 0px;

    border-bottom: 1px solid #d3d3d383;
}

.nutrition-table4{
    display: flex;
    padding: 15px 0px;
}

p.calories{
    padding-left: 300px;
    color: var(--cor2);
    font-weight: bold;
    
}

#especial-calories{
    padding-left: 265px;
    color: var(--cor2);
    font-weight: bold;
}





